@import url('https://fonts.googleapis.com/css?family=Imprima&display=swap');

body {
  background: url("wallpaper-pokemon.jpg");
  background-attachment: fixed;
  background-size:100%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 90px;
  margin-left: 120px;
  margin-right: 120px;
  font-family: 'Imprima', sans-serif;
}
.logoPokemon {
  width: 50%;
  justify-content: center;
}

.content {
  justify-content: center;
  padding-bottom: 30px;
}

.eggImg {
  width: 20%;
  height: 20%;
  margin-right: 15px;
}

.btn {
  background-color: white;
  border-radius: 12px;
  border: 2px solid #7F8087;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Imprima', sans-serif;
  font-weight: bold;
}

.btn:hover {
  background-color: #5CA3E0;
}

.btn:active {
  background-color: #5CA3E0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.pokemonCards {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  line-height: 1.6;
  font-weight: bold;
  column-gap: 40px;
}

.pokemonCard {
  border: 2px solid #5CA3E0;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
}
.pokemonCard:hover{
  background-color: #5CA3E0;
}

.pokemonEgg{
  border: 2px solid #5CA3E0;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
}
.pokemonEgg:hover{
  background-color: #5CA3E0;
}

.pokeImg {
  width: 60%;
}

/* .back-btn {
  background-color: white;
  border-radius: 12px;
  border: 2px solid #7F8087;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Imprima', sans-serif;
  font-weight: bold;
}
.back-btn:hover {
  background-color: #5CA3E0;
}
.back-btn:active {
  background-color: #5CA3E0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */
